<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>City of Martindale</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" type="text/css" href="/bower_components/normalize.css/normalize.css">
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" type="text/css" href="/bower_components/ionicons/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="styles/skeleton.css">



    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="app">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <section class= "background">

        <header> 
            <div class = "header-wrapper">
        
                <img class="logo" src="images/martindale_blue_logo.png" alt="logo">
                <p class = "logo-text">Chamber of Commerce</p>
            
            </div>
        </header>
            
            <div class = "mobile-header">

            <nav class="row" ng-controller="NavCtrl">
                <button class="ion-navicon-round button" ng-click="toggleNav()" ng-hide="menu"></button>
                <button class="ion-close-round button" ng-click="toggleNav()" ng-show="hideNav"></button>
                <ul ng-show="navLinks">
                    <li><a href="/home" ui-sref="home" class="nav-links">Home</a></li>
                    <li><a href="#" ui-sref="test" class="nav-links" ng-click="toggleAbout()" ng-mouseover="showAbout()">About Us</a></li>
                    <ul ng-show="aboutLinks">
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Church Directory</a></li>
                        <li><a href="#">Business Directory</a></li>
                    </ul>
                    <li><a href="#" ui-sref="test" class="nav-links">Events and News</a></li>
                    <li><a href="#" ui-sref="test" class="nav-links" ng-mouseover="showCity()" ng-click="toggleCity()">City Information</a></li>
                    <ul ng-show="cityInfo">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">City Map</a></li>
                        <li><a href="#">Martindale History</a></li>
                    </ul>
                </ul>
            </nav>
            </div>
        </div>

        <div class= "main-content">
            <h3>Why come to Martindale?</h3>
            <p>Stumptown photo booth salvia, Wes Anderson hella hashtag scenester DIY. VHS Helvetica wolf, vinyl Godard mlkshk cred fingerstache organic forage food truck Marfa post-ironic disrupt banh mi. Bicycle rights occupy gentrify pour-over freegan, 90's chia you probably haven't heard of them pug Etsy listicle distillery. Keffiyeh bicycle rights VHS beard keytar mixtape. High Life letterpress street art, umami Carles butcher messenger bag Godard Odd Future lumbersexual mustache farm-to-table trust fund. Dreamcatcher vinyl cold-pressed, master cleanse fanny pack gentrify ethical fashion axe stumptown brunch banjo. Quinoa pug meggings, normcore flannel butcher whatever swag Intelligentsia heirloom cronut you probably haven't heard of them keffiyeh.</p>
        </div>

        <div class = "main-page-images">
            <img class = "main-page-image1" src= "images/seedstorepic.jpg">
            <p>Add some text about film opportunity here</p>

            <img class = "main-page-image2" src = "images/silos_buildings.jpg">
            <p>Add some text about commercial real estate availability here</p>

        </div>

    </section>


    <div ui-view></div>

    <footer>
        footer
    </footer>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers.js"></script>
</body>
</html>
